body {
  background: #2367b6;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
}
button {
  margin-top: 10px;
}
input {
  width: 100%;
}
h4 {
  margin-bottom: 20px;
}
p {
  width: 100%;
  font-size: 1.5em;
}
div {
  width: 80%;
}
.container {
  width: 80%;
  left: 100px;
  margin: 0 auto;
}
.scroller {
  height: 200px;
  overflow-y: scroll;
}
.topleft {
  position: fixed;
  top: 2%;
  left: 10px;
  margin: auto;
}
